<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

    <div class="page">
      <div class="wrapper">
          <h1>Nathan Phillips</h1>
          <p class="tagline">I am a full stack web developer, user interface designer, and Javascript specialist with <a href="http://www.kapuhonu.com">Kapuhonu</a> and <a href="http://www.wahilacreative.com">Wahila Creative</a>.</p>
          <section>
              <div class="grid">
                  <div class="grid__item one-half palm--one-whole">
                      <h2>Skills</h2>
                      <ul>
                          <li>HTML5</li>
                          <li>CSS3 + Sass</li>
                          <li>Javascript + JQuery</li>
                          <li>Mongo + Express + Angular + Node</li>
                          <li>Grunt + Gulp</li>
                          <li>Wordpress</li>
                          <li>Salesforce</li>
                      </ul>
                  </div><!--
                  --><div class="grid__item one-half palm--one-whole">
                    <h2>Building the Internet</h2>
                    <p>I began studying full stack web development in 2007 and was working for clients full time (as well as finishing my degrees) by 2010. My clients include nonprofits, small businesses, and funded startups, ranging from blog design to full application development.</p>
                    <p>Here’s some information on the things I know how to do.</p>
                  </div>
              </div>
          </section>
          <section>
              <div class="grid">
                  <div class="grid__item one-half palm--one-whole">
                      <h2>Delicious Data</h2>
                        <p>I’m a prolific learner and researcher, and I consider myself a lifelong student (and teacher - I spent nearly three years at Duquesne University assisting other classes and teaching my own). Most of my current self-study involves topics such as Javascript and entrepreneurship.</p>
                        <p>Here are some of the things I’m curently reading about.</p>
                  </div><!--
                  --><div class="grid__item one-half palm--one-whole">
                      <img src="/img/goodreads.png" alt="" height="22px">
                      <ul>
                          <li>The Everything Store</li>
                          <li>Elon Musk: Inventing the Future</li>
                          <li>Abundance</li>
                          <li>The Rise of Superman</li>
                          <li>Children of Dune</li>
                          <li>The $100 Startup</li>
                      </ul>
                      <img src="/img/khan.png" alt="" height="15px">
                      <ul>
                          <li>Interest and Debt</li>
                          <li>Integral Calculus</li>
                          <li>Modern Information Theory</li>
                      </ul>
                      <img src="/img/codeschool.png" alt="" height="25px">
                      <ul>
                          <li>Shaping Up with Angular.js</li>
                          <li>Real Time Web with Node.js</li>
                          <li>Discover Devtools</li>
                      </ul>
                  </div>
              </div>
          </section>
          <section>
              <div class="grid">
                  <div class="grid__item one-half palm--one-whole">
                      <h2>Contact</h2>
                      <ul>
                        <li>Email:    <a class="pull-right" href="mailto:nathan@nathanphillips.net">nathan@nathanphillips.net</a></li>
                        <li>Twitter:  <a class="pull-right" href="http://www.twitter.com/createnate">@createnate</a></li>
                        <li>Github:  <a class="pull-right" href="http://www.github.com/createnate">createnate</a></li>
                    </ul>
                </div><!--
                --><div class="grid__item one-half palm--one-whole">
                      <h2>Get in Touch</h2>
                    <p>Need a designer, developer, or a little bit of both? Want to talk shop? Drop me a line.</p>
                  </div>
              </div>
          </section>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
